<aside class="drawer state--hidden" data-theme="blue-invert">
    <button type="button" class="btn btn--toggle btn--icn toggle--drawer" data-theme="blue" data-icon="menu">
        {% include calypso/btn__icons.svg %}
    </button>

    <a href="/" class="drawer__link text">Frontpage</a>
    <nav class="menu menu--drawer text--h4" role="navigation">
    	<a href="/news" class="menu__item">News</a>
    	<a href="/videos" class="menu__item">Videos</a>
    	<a href="/library" class="menu__item">Long Reads</a>
    </nav>

    <span class="corner--nw"></span>
    <span class="corner--ne"></span>
    <span class="corner--se"></span>
    <span class="corner--sw"></span>
</aside>