<div class="guides">
	<div class="guides__inner">
		<div class="guides__inner--half"></div>
		<div class="guides__inner"></div>
	</div>

	<div class="guide__x guide__x--header"></div>
	<div class="guide__y guide__y--left"></div>
	<div class="guide__y guide__y--right"></div>
	<div class="guide__y guide__y--centre"></div>
	<div class="guide__x guide__x--centre"></div>
	<div class="guide__x guide__x--bottom"></div>

</div>

<div class="columns">
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
	<div class="col"></div>
</div>