<header class="header" data-theme="{{ page.header-theme }}">
	<div class="header__oji">
		{% include images/oji-origami.svg %}
	</div>
	<div class="header__oji--alt">
		{% include images/oji-origami.svg %}
	</div>

	<div class="header__section header__title">
		<h5 class="section__label text--h5 frame--corner"></h5>
	</div>
	<div class="header__section header__about">
		<span class="section__label frame--line"></span>
    </div>
	<div class="header__section header__banner hidden">
		<h5 class="section__label text--h5 frame--line"></h5>
    </div>
	<div class="header__section header__social hidden">
		<span class="section__label frame--line"></span>
		<div class="social__wrapper">
			<a href="#" class="social__badge icn--instagram">{% include images/icn--instagram.svg %}</a>
			<a href="#" class="social__badge icn--facebook">{% include images/icn--facebook.svg %}</a>
			<a href="#" class="social__badge icn--twitter">{% include images/icn--twitter.svg %}</a>
		</div>
    </div>

    <span class="corner corner--ne"></span>
</header>