<header class="header" data-theme="{{ page.header-theme }}">

	<div class="header__oji">
		{% include images/oji-origami.svg %}
	</div>

	<div class="header__section header__title">
		<h5 class="section__label text--h5 frame--corner"></h5>
	</div>
	<div class="header__section header__about">
		<span class="section__label frame--line"></span>
    </div>
	<div class="header__section header__banner hidden">
		<h5 class="section__label text--h5 frame--line"></h5>
    </div>

    <span class="corner corner--ne"></span>
</header>