<section class="section section--frontpage">

    <div class="section__text">
        <h2 class="text--h2 serif">Text</h2>
    </div>

    <button type="button" class="btn btn--toggle toggle--frontpage" data-style="primary" data-icon="expand">
        <i class="btn__i">
            <span class="i i-1"></span>
            <span class="i i-2"></span>
        </i>
    </button>

    <div class="border">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <span class="corner corner--se"></span>
    <span class="corner corner--sw"></span>
</section>