<section class="section section--signup section--center" data-theme="blue--invert">
    <h5 class="section__label text--h5 frame--corner">BETA Signup</h5>
    <h2 class="section__text text--h2 serif">Sign up for Oji updates and first access to our Scuba Diving logbook</h2>

    <form class="signup__form">
    
    	<input type="email" placeholder="Email" value="" class="input input--framed" data-style="primary" data-size="small">
    	<button type="submit" class="btn" data-style="primary" data-size="small">
    		<label class="btn__label">Submit</label>
    	</button>

    </form>
    
    <span class="corner--se"></span>
    <span class="corner--sw"></span>
</section>