<section class="section section--feed">
    <label class="section__label text--h4 serif">Oji Newsfeed</label>

    <div class="section__grid">
        <div class="block">
            <h5 class="text--h5 section__label frame--line">News</h5>
            <a href="feed.html" class="block__text serif">
                Sea lion pups are starving because their moms are eating junk food.
            </a>
            <a href="#" class="block__link">More</a>
        </div>
        <div class="block">
            <h5 class="text--h5 section__label frame--line">Video</h5>
            <a href="video.html" class="block__text serif">
                Sea lion pups are starving because their moms are eating junk food.
            </a>
            <a href="#" class="block__link">More</a>
        </div>
        <div class="block">
            <h5 class="text--h5 section__label frame--line">Library</h5>
            <a href="library.html" class="block__text serif">
                Sea lion pups are starving because their moms are eating junk food.
            </a>
            <a href="#" class="block__link">More</a>
        </div>
    </div>

    <button type="button" class="btn btn--toggle toggle--feed guide" data-style="primary" data-icon="expand">
        <i class="btn__i">
            <span class="i i-1"></span>
            <span class="i i-2"></span>
        </i>
    </button>

    <div class="border">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <span class="corner corner--se"></span>
    <span class="corner corner--sw"></span>
</section>