<section class="section section--frontpage" data-theme="aqua">

    <div class="section__text">
        <h2 class="text--h2">The Feed: Collected news, videos and longform content tracking the seas and our changing world.</h2>
    </div>

    <button type="button" class="btn btn--toggle toggle--frontpage" data-theme="green" data-icon="north">
        {% include calypso/button__icon.html %}
    </button>

    <div class="border">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <span class="corner corner--se"></span>
    <span class="corner corner--sw"></span>
</section>