<section class="section section--signup section--center" data-theme="orange-invert">
    <h5 class="section__label text--h5 frame--corner">Newsletter/BETA Access</h5>
    <h2 class="section__text text--h2">Get the best from Oji's feed and first access to our scuba logbook app</h2>

    <form class="signup__form">
    	<input type="email" placeholder="Email" value="" class="input no--border" data-size="small">
    	<button type="submit" class="btn" data-size="small">
    		<label class="btn__label">Sign Up</label>
    	</button>
    </form>
    
    <span class="corner--se"></span>
    <span class="corner--sw"></span>
</section>