.oji-feed {
	background-color: $white;
	overflow: hidden;

	&.visible--feed {

		.container {
			overflow-y: scroll;

			.feed {
				.feed__entries {
					@include transitionEase(all,0.5s);
					@include translate(0,0);
				}
			}
		}
		.frame--w {
			background-color: $blue;
		}
	}
}

.container {
	overflow-y: visible;

	.feed {
		bottom: 0;
		left: 0;
		min-height: $full;
		position: absolute;
		right: calc(100%/10 - 12px);
		top: 0;

		.feed__entries {
			@include transitionEase(all,0.5s);
			@include translate(0,50%);
			background-color: $aqua;
			padding: $base*3 $full/9*3 $base*3 $full/9;

			.feed__entry {
				cursor: pointer;
				display: block;
				margin-bottom: 1px;
				padding: 20px 0 $base 0;
				position: relative;
				z-index: 1000;

				&::after {
					background-color: $blue;
					bottom: 0;
					content: '';
					height: 1px;
					left: -2px;
					position: absolute;
					width: $base;
				}

				.entry__title {
					color: $blue;
					margin-bottom: 0px;
					margin-left: -1px;
					padding-left: 9px;
				}
				.entry__meta {
					color: $blue;
					padding-left: 9px
				}
			}
		}
	}
}