.oji--frontpage {
	overflow: hidden;

	&.visible--frontpage {
		.frame {
			background-color: $blue;
		}
		.frontpage__nav {
		}
		.container {
			@include transitionEase(transform, 0.6s);
			@include translate(0,0);
			overflow-y: scroll;

			.frontpage {
				@include transitionEase(opacity, 0.6s);
				opacity: 1;
			}
		}
	}
}

.frontpage__nav {
	@include transitionEase(transform, 0.3s);
	@include translate(-$base*2,0);
	background-color: lime;
	height: $base*2;
	margin-top: -$base;
	position: absolute;
	top: 50%;
	width: $base*2;
	z-index: 1000;
}

.container {
	@include transitionEase(transform, 0.6s);
	@include translate(0,$full);
	@include flexbox();
	overflow-y: visible;

	.frontpage {
		@include transitionEase(opacity, 0.6s);
		display: block;
		opacity: 0;
		padding: $base 0;
		padding-right: calc(100%/10 - 14px);
		position: relative;
		width: $full;

		.frontpage__section {
			display: block;
			padding: 0 $full/9;
			width: $full/9*7;

			.section__title {
				line-height: $base*2;
				padding-left: 10px;
			}

			.entries {
				border-top: solid 1px $blue;
				margin-bottom: $base/2;

				.entries__more {
					display: none;
					
					> a {
						display: block;
						line-height: $base*2;
						padding: 0 $base/2;
						text-align: right;
					}
				}

				.entry {
					position: relative;

					> a {
						@extend %clearfix;
						color: $blue;
						display: block;

						.entry__label {
							display: block;
							width: $xlarge;
						}
						.entry__title {
							margin-bottom: 17px;
						}
					}
				}
			}

			&.frontpage--news,
			&.frontpage--long-reads {
				.entries {
					.entry {
						padding: 20px 0 19px $base/2;

						&::after,
						&::before {
							background-color: $blue;
							bottom: 0;
							content:'';
							height: 1px;
							position: absolute;
							width: $base;
						}
						&::before {
							left: 0;
						}
						&::after {
							right: 0;
						}
					}
				}
			}

			&.frontpage--video {
				padding: 0;

				.section__title {
					margin: 0 $full/7;
				}
				.entries {
					@extend %clearfix;
					border: 0;
					padding: 0 $base;
					padding-left: $base+1;
					position: relative;

					.entry {
						float: left;
						padding: 0;
						width: 25%;

						> a {
							display: block;
							height: $base*10;
							position: relative;

							.video__thumb {
								background-color: $orange;
								background-position: center;
								background-size: cover;
								bottom: $base;
								left: $base;
								position: absolute;
								right: 0;
								top: 0;

								&::after {
									background-image: linear-gradient(
      									45deg, 
      									transparent, $blue
    								);
    								bottom: 0;
									content:'';
									left: 0;
									height: $full;
									opacity: 0.35;
									position: absolute;
									right: 0;
									top: 0;
									width: $full;
									z-index: 5;
								}
							}
						}
						.video__label {
							background-color: $aqua;
							bottom: 19px;
							color: $blue;
							left: 0;
							padding-top: 8px;
							position: absolute;
							right: $base;
							z-index: 10;

							&::after {
								background-color: magenta;
								bottom: 5px;
								content:'';
								display: none;
								height: $base/2;
								left: 0;
								opacity: 0.5;
								position: absolute;
								width: $full;
							}

							.text--h2 {
								margin-bottom: $base/2;
								padding: 0 $base/2 0 22px;
							}
							.text--small {
								padding: 0 $base/2 0 $base;
							}
						}
						.btn {
							display: none;
							left: $base/2;
							position: absolute;
							top: $base/2;
						}

						&.entry--wide {
							width: 50%;
						}

						&.entry--large {
							width: 50%;

							> a {
								height: $base*20;

								.video__thumb {
									left: 0;
								}
								.video__label {
									padding-left: 25%;

									.text--h2,
									.text--small {
										padding: 0 10px;
									}
								}
								.btn {
									bottom: $base;
									left: initial;
									margin-right: $base/2;
									right: 75%;
									top: initial;
								}
							}
						}
					}
				}
			}
		}

		&[data-theme="aqua"] {
			background-color: $aqua;
		}
	}
}

