.visible--frontpage {
	.header {
		.header__oji {
			@include transitionEase(all, 0.4s);
			@include translate(0,-$base*8);
	
			#oji-origami {
				path {
				}
			}
		}
	}
}
.visible--drawer {
	.header {
		@include transitionEase(0.5s,all);
		@include translate($drawer-width,0);
	}
}
.header {
	@include transitionEase(all, 0.5s);
	@include flexbox();
	@include align-content(flex-start);
	@include align-items(flex-start);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	height: 0;
	position: absolute;
	top: 0;
	width: $full/10*7;
	z-index: 5000;

	@include media-query($on-touch) {
		width: $full;
    }

	.header__oji {
		@include transitionEase(all, 0.5s);
		@include translate(0,0);
		//background-image: url(/assets/images/oji-origami.svg);
		background-repeat: no-repeat;
		background-size: $base*5 auto;
		height: $base*4;
		left: $full/7;
		padding: 0 0 0 $base/2;
		position: absolute;
		top: 90px;
		width: $full/7;
		z-index: 1100;

		#oji-origami {
			path {
				fill: $white; 
			}
		}

		@include media-query($on-touch) {
			left: $full/10;
			top: $base*3;
			width: $full/10*3;
    	}
	}

	.header__section {
		min-height: $base*2;

		> .section__label {
		}

		&.hidden {
			@include translate(0,-$base*4);
		}

		&.header__title {
			height: $base*2;
			overflow: visible;
			width: $full/7;

			> .section__label {
				white-space: nowrap;
				word-break: none;

				&::after {
					display: none;
				}
			}
		}
		&.header__about {
			width: $full/7*2;
		}
		&.header__banner {
			width: $full/7*2;
		}
	}

	&[data-theme="white"] {
		background-color: red;

		.frame,
		.corner {
			border-color: $white;
		}

		.header__section {
			background-color: transparent;
	
			> .section__label {
				background-color: transparent;
				color: $white;

				&::before {
					border-color: $white;
				}
			}

			&.header__social {	
				.social__wrapper {
					.social__badge {
						background-color: transparent;
					}
				}
			}
		}
	}
	&[data-theme="blue"] {
		background-color: red;

		.frame,
		.corner {
			border-color: $blue;
		}

		.header__section {
			background-color: transparent;
	
			> .section__label {
				background-color: transparent;
				color: $blue;

				&::before {
					border-color: $blue;
				}
			}

			&.header__social {	
				.social__wrapper {
					.social__badge {
						background-color: transparent;
					}
				}
			}
		}
	}
}