.visible--frontpage {
	.sidebar--frontpage {
		@include transitionEase(transform,0.3s);
		@include translate(0,0);
		transition-delay: 0.5s;
	}
	.sidebar {
		@include transitionEase(0.5s,all);

		&.sidebar--left {
			@include translate(0,-$full);
		}
		&.sidebar--right {
			@include translate(0,0);
		}
	}
}
.visible--drawer {
	.wrapper {
		@include transitionEase(0.5s,all);
		@include translate($drawer-width,0);
	}
	.sidebar--frontpage {
		.sidebar__oji {
			#oji-origami {
				path {
					@include transitionEase(0.5s,fill);
					fill: $white; 
				}
			}
		}
	}
	.social {
		@include transitionEase(0.5s,all);
		@include translate($drawer-width,0);
	}
	.sidebar {
		&.sidebar--drawer {
			@include transitionEase(0.5s,all);
			@include translate(0,0);
		}
		&.sidebar--left {
		}
		&.sidebar--right {
		}
	}
}

.sidebar {
	@include transitionEase(0.5s,all);
	bottom: 0;
	position: absolute;
	top: 0;
	z-index: 2000;

	&.sidebar--drawer {
		@include translate(-$drawer-width,0);
		background-color: $white;
		left: 0;
		padding: $base;
		width: $drawer-width;
		z-index: 5000;

		&::after {
			@include transitionEase(opacity, 0.5s);
			@include box-shadow(-$base/4,0,$base/2,rgba(39,39,39,0.05),$inset:true);
			background-color: transparent;
			bottom: -$base;
			content:'';
			right: 0;
			opacity: 0;
			position: absolute;
			top: -$base;
			width: $base*2;
		}

    	.toggle--drawer {
    		position: absolute;
    		right: -$base*3;
    		top: $base;
    	}

    	.drawer__link {
    		color: $blue;
    		display: block;
    		line-height: $base*1.5;
    		padding: 0 $base/2;
    	}

    	.menu--drawer {
    		border-color: $blue;

    		.menu__item {
    			color: $blue;

    			&::after {
    				background-color: $blue;
    			}
    		}
    	}
	}
	&.sidebar--left {
		@include translate(0,0);
		left: 0;
		width: $full*7/10;

		@include media-query($on-touch) {
			width: $full;
    	}
	}
	&.sidebar--right {
		opacity: 1;
		right: 0;
		width: $full*3/10;

		@include media-query($on-touch) {
			display: none;
    	}
	}
}