.btn {
	&.guide {
		&::after,
		&::before {
			background-color: lime;
			content:'';
			position: absolute;
			z-index: 9999;
		}
		&::after {
			height: 1px;
			left: 0;
			top: 50%;
			width: $full;
		}
		&::before {
			height: $full;
			left: 50%;
			top: 0;
			width: 1px;
		}
	}
	.btn__i {
        @include transitionEase(all,0.25s);
        @include transform-origin(center);
		position: absolute;

        .i {
        	@include transitionEase(all,0.25s);
            border: solid 1px $white;
            display: block;
            height: $base;
            left: $base;
            position: absolute;
            top: $base;
            width: $base;
        }
	}

	&[data-size="small"] {
        .btn__i {
        	height: $base;
        	width: $base;
        	
        	.i {
        		bottom: 0;
        		left: 0;
        		right: 0;
        		top: 0;
        	}
        }
    }

	&[data-icon="add"]  {
		.btn__i {
			@include rotate(0);
            .i {
                height: $base/2;
                width: $base/2;
    
                &.i-1 {
                    @include translate(-11.5px,-11.5px);
                    border-left: 0;
                    border-top: 0;
                }
                &.i-2 {
                    @include translate(-0.5px,-0.5px);
                    border-bottom: 0;
                    border-right: 0;
                }
            }
        }
        &[data-size="small"] {
        	.btn__i {
        	    .i {
        	    	bottom: $base/3;
        	        height: $base/3;
        	    	left: $base/3;
        	    	right: $base/3;
        	    	top: $base/3;
        	        width: $base/3;
    	
        	        &.i-1 {
        	            @include translate(-3.5px,-3.5px);
        	            border-left: 0;
        	            border-top: 0;
        	        }
        	        &.i-2 {
        	            @include translate(3.5px,3.5px);
        	            border-bottom: 0;
        	            border-right: 0;
        	        }
        	    }
        	}
        }
	}

	&[data-icon="close"] {
		.btn__i {
			@include rotate(45);
            .i {
                height: $base/2;
                width: $base/2;
    
                &.i-1 {
                    @include translate(-11.5px,-11.5px);
                    border-left: 0;
                    border-top: 0;
                    opacity: 1;
                }
                &.i-2 {
                    @include translate(-0.5px,-0.5px);
                    border-bottom: 0;
                    border-right: 0;
                }
            }
        }
        &[data-size="small"] {
        	.btn__i {
				@include rotate(45);
        	    .i {
        	    	bottom: $base/3;
        	        height: $base/3;
        	    	left: $base/3;
        	    	right: $base/3;
        	    	top: $base/3;
        	        width: $base/3;
    	
        	        &.i-1 {
        	            @include translate(-3.5px,-3.5px);
        	            border-left: 0;
        	            border-top: 0;
        	        }
        	        &.i-2 {
        	            @include translate(3.5px,3.5px);
        	            border-bottom: 0;
        	            border-right: 0;
        	        }
        	    }
        	}
        }
	}

	&[data-icon="expand"]  {
		.btn__i {
			@include rotate(45);
            .i {
                @include transitionEase(all,0.25s);
                height: $base/2;
                width: $base/2;
    
                &.i-1 {
                    @include translate(-16px,-16px);
                    border-left: 0;
                    border-top: 0;
                    opacity: 0;
                }
                &.i-2 {
                    @include translate(-4px,-4px);
                    border-bottom: 0;
                    border-right: 0;
                }
            }
        }
	}
}