/**
 * Reset some basic elements
 */
body, p, ul, ol, li, em, strong,
h1, h2, h3, h4, h5, h6, blockquote, 
hr, dl, dd, figure, input, textarea, 
button {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}

/**
 * Basic styling
 */
* {
    @include box-sizing(border-box);
}

/**
 * Fonts
 */
$font-path: /assets/fonts;

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Bold-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Bold-Web.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}
%AtlasGrotesk-Bold {
    font-family: 'Atlas Grotesk';
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
%AtlasGrotesk-Regular {
    font-family: 'Atlas Grotesk';
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Light-Web.woff') format('woff');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}
%AtlasGrotesk-Light {
    font-family: 'Atlas Grotesk';
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Origami-Regular';
    src: url('#{$font-path}/310885_1_0.eot');
    src: url('#{$font-path}/310885_1_0.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/310885_1_0.woff2') format('woff2'),
         url('#{$font-path}/310885_1_0.woff') format('woff'),
         url('#{$font-path}/310885_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Origami-SemiBold';
    src: url('#{$font-path}/310885_0_0.eot');
    src: url('#{$font-path}/310885_0_0.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/310885_0_0.woff2') format('woff2'),
         url('#{$font-path}/310885_0_0.woff') format('woff'),
         url('#{$font-path}/310885_0_0.ttf') format('truetype');
}

/**
 * Layout helpers
 */

$golden:          1.618;
$full:            100%;

$gld10:           $full / $golden;
$gld9:            $full - $gld10;
$gld8:            $gld9 / $golden;
$gld7:            $gld9 - $gld8;
$gld6:            $gld7 / $golden;
$gld5:            $gld7 - $gld6;
$gld4:            $gld5 / $golden;
$gld3:            $gld5 - $gld4;
$gld2:            $gld3 / $golden;
$gld1:            $gld3 - $gld2;

$xlarge:          $full - ($gld7 + $gld7);
$large:           $gld10;
$med:             $gld9;
$small:           $gld8;
$xsmall:          $gld7;

$base:              24px;

$on-touch:         800px;
$on-small:        1200px;
$on-desktop:      1600px;

/**
 * Typography
 */
body {
    @extend %kerning;
    -webkit-text-size-adjust: 100%;
    font-family: 'Atlas Grotesk', 'Helvetica Neue', Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

a {
    text-decoration: none;

    &:visited {
        color: initial;
    }
}

em {
    font-style: normal;
}

.serif {
    font-family: 'Origami-Regular', Garamond;

    @include media-query($on-touch) {
    }
}

.text {
    font-size: 12px;
    line-height: 18px;

    &.serif {

    }
}

h1, .text--h1 {
    font-size: $base*2;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 54px;
}

h2, .text--h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;

    strong {
        font-weight: 500;
    }
    .small {
        font-size: 16px;
        text-transform: uppercase;
    }
    .serif,
    &.serif {
        font-size: 30px;
    }

    @include media-query($on-touch) {
        font-size: 18px;
        line-height: 24px;
    }
}

h3, .text--h3 {
    font-size: $base*1.5;
    font-weight: 400;
    line-height: 40px;

    strong {
        font-weight: 500;
    }

    &.serif {
        font-weight: 300;
    }

    @include media-query($on-touch) {
        font-size: 12px;
        line-height: 16px;
    }
}

h4, .text--h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
}

h5, .text--h5 {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    .serif {
        font-size: 14px;
    }
}

article {
	.text--link {
		border-bottom: solid 2px blue;
	}
}

.pull--right {
	float: right;
}

@include keyframes(markRotate) {
	0% {@include rotate(0)};
	100% {@include rotate(360)};
}

