.section--signup {
	height: 50%;
	overflow: hidden;
	position: relative;
	top: 0;

	.section__text {
		margin-bottom: $base;
	}

	> .signup__form {
		border: solid 1px $white;
		height: $base*1.5;
		margin-bottom: $base;
		position: relative;
		width: $xlarge;

		.input {
			width: $full;
		}
		.btn {
			position: absolute;
			right: -1px;
			top: -1px;
			width: $med;
		}
	}
	&[data-theme="blue-invert"] {
		> .signup__form {
			border-color: $green;

			.input {
				border-color: $green;
        		color: $green;
		
        		@include placeholder {
        		    color: $green;
        		}
			}

			.btn {
				background-color: $green;

				.btn__label {
					color: $white;
				}
			}
		}
	}
	&[data-theme="orange"] {
		> .signup__form {
			border-color: $white;
			overflow: hidden;

			.input {
				border-color: $white;
        		color: $white;
		
        		@include placeholder {
        		    color: $white;
        		}
			}

			.btn {
				background-color: $white;

				.btn__label {
					color: $orange;
				}
			}
		}
	}
	&[data-theme="orange-invert"] {
		> .signup__form {
			border-color: $orange;
			overflow: hidden;

			.input {
        		color: $white;
		
        		@include placeholder {
        		    color: $white;
        		}
			}

			.btn {
				background-color: $orange;

				.btn__label {
					color: $white;
				}
			}
		}
	}
}