.section--hero {
	@include transitionEase(all, 0.5s);
	height: $large;
	position: relative;
	top: 0;

	@include media-query($on-touch) {
		height: $med;
    }

    &.state--visible {

    }
    &.state--hidden {
		@include translate(0,-$full);
		background-color: transparent;

		.hero__img {
			@include translate(0,-$full);
		}
    }

	.hero__img {
		@include transitionEase(all, 0.7s);
		//@include box-shadow(0,0,$base/2,rgba(0,0,0,0.15),$inset:false);
		background-color: $orange;
		background-image: url(#{$cdn}oji__hero--coast.jpg);
		background-position: center bottom;
		background-size: cover;
		bottom: -$base*2;
		left: $base*2;
		position: absolute;
		right: -$base*2;
		top: $base*5;
		z-index: 5000;

		@include media-query($on-touch) {
			bottom: -$base;
			left: $base;
			top: $base*4;
    	}
	}
	.toggle--hero {
		display: none;
		left: $full/7*3;
		position: absolute;
		top: 76px;
	}
}
