.menu {
	border-top: solid 1px $white;

	> .menu__item {
		color: $white;
		display: block;
		line-height: $base;
		padding: $base/2;
		padding-bottom: 7px;
		padding-top: 7px;
		position: relative;

		&::before {
			background-color: lime;
			bottom: 1px;
			content:'';
			display: none;
			height: $base/2;
			left: 0;
			position: absolute;
			//top: 0;
			width: $full;
		}

		&::after {
			background-color: $white;
			bottom: 0;
			content:'';
			height: 1px;
			left: 0;
			position: absolute;
			width: $base;
		}
	}
}