<!DOCTYPE html>
<html style="height:100%;">

    {% include head.html %}

    <body class="oji--channel visible--{{ page.visible }}">

    	{% include header.html %}

        <div class="wrapper">

            <div class="container container--channels">
                {{ content }}
            </div>
    
            <aside class="container container--right">
                {% include section--signup.html %}
                {% include section--campaign.html %}
    	   </aside>
           
        </div>

        {% include drawer.html %}
        {% include social.html %}

        {% include guides.html %}
	    
    </body>

</html>
