<!DOCTYPE html>
<html style="height:100%;">

    {% include head.html %}

    <body class="oji--frontpage visible--{{ page.visible }}">

    	{% include header.html %}

        <div class="wrapper">
    	   <aside class="sidebar sidebar--left">
                {% include section--hero.html %}
                {% include section--frontpage.html %}
    	   </aside>
    
            <div class="container">
                {{ content }}
            </div>
    
            <aside class="sidebar sidebar--right">
                {% include section--signup.html %}
                {% include section--campaign.html %}
    	   </aside>
        </div>

        {% include sidebar--drawer.html %}
        {% include social.html %}

        {% include guides.html %}
	    
    </body>

</html>
