<!DOCTYPE html>
<html style="height:100%;">

    {% include head.html %}

    <body class="oji--frontpage visible--{{ page.visible }}" data-theme="aqua">

    	{% include header.html %}

    	<aside class="sidebar sidebar--left">
            {% include section--hero.html %}
            {% include section--frontpage.html %}
    	</aside>

    	<div class="container">
            {{ content }}
        </div>
        {% include nav--frontpage.html %}

        <span class="frame frame--w"></span>

        <aside class="sidebar sidebar--right">
            {% include section--signup.html %}
            {% include section--campaign.html %}
    	</aside>

        {% include guides.html %}
	    
    </body>

</html>
