.input {
	@include appearance(none);
    background-color: transparent;
    border: solid 1px red;
    border-radius: 0;
    color: black;
    font-weight: 500;
    margin: 0;
    padding: 0 $base/2;

    @include placeholder {
        color: red;
    }

    &:focus {
    	outline: 0;
    }

    &[data-size="small"] {
        height: $base*1.5;
        font-size: 12px;
        height: 18px;
        line-height: 12px;
        padding: 0px $base/2;
    }
    &[data-theme="primary"] {
        border-color: $green;
        color: $green;

        @include placeholder {
            color: $green;
        }
    }
    &[data-theme="blue"] {
        border-color: $blue;
        color: $blue;

        @include placeholder {
            color: $blue;
        }
    }
    &[data-style="white"] {
        border-color: $white;
        color: $white;

        @include placeholder {
            color: $white;
        }
    }

    &.input--framed {
        border: 0;
        padding: 0;
    }
}